postgres:
  maxOpenConns: {{ .Values.postgres.maxOpenConns | default .Values.global.postgres.maxOpenConns }}
  maxIdleConns: {{ .Values.postgres.maxIdleConns | default .Values.global.postgres.maxIdleConns }}
  connMaxLifetime: {{ .Values.postgres.connMaxLifetime | default .Values.global.postgres.connMaxLifetime }}
  connection:
    host: {{ .Values.postgres.host | default .Values.global.postgres.host}}
    port: {{ .Values.postgres.port | default .Values.global.postgres.port }}
    user: {{ .Values.postgres.user | default .Values.global.postgres.user }}
    password: {{ .Values.postgres.password | default .Values.global.postgres.password }}
    dbname: {{ .Values.postgres.dbname }}
    sslmode: {{ .Values.postgres.sslmode | default .Values.global.postgres.sslmode }}
metrics:
  port: {{ .Values.metricsPort }}
pulsar:
  enabled: true
  URL: {{ .Values.pulsar.url | default .Values.global.pulsar.url }}
  jobsetEventsTopic: "events"
  receiveTimeout: 5s
  backoffTime: 1s
paralellism: 1
subscriptionName: "scheduler-ingester"
batchSize: 10000
batchDuration: 500ms
minJobSpecCompressionSize: 1024
userAnnotationPrefix: "armadaproject.io/"
