---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - core.armadaproject.io
  resources:
  - eventingesters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.armadaproject.io
  resources:
  - eventingesters/finalizers
  verbs:
  - update
- apiGroups:
  - core.armadaproject.io
  resources:
  - eventingesters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - core.armadaproject.io
  resources:
  - queues
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.armadaproject.io
  resources:
  - queues/finalizers
  verbs:
  - update
- apiGroups:
  - core.armadaproject.io
  resources:
  - queues/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - install.armadaproject.io
  resources:
  - executors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - install.armadaproject.io
  resources:
  - executors/finalizers
  verbs:
  - update
- apiGroups:
  - install.armadaproject.io
  resources:
  - executors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - install.armadaproject.io
  resources:
  - servers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - install.armadaproject.io
  resources:
  - servers/finalizers
  verbs:
  - update
- apiGroups:
  - install.armadaproject.io
  resources:
  - servers/status
  verbs:
  - get
  - patch
  - update
