apiVersion: install.armadaproject.io/v1alpha1
kind: LookoutIngester
metadata:
  labels:
    app.kubernetes.io/name: lookoutv2ingester
    app.kubernetes.io/instance: lookoutv2ingester-sample
    app.kubernetes.io/part-of: armada-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: armada-operator
  name: lookoutingesterv2-sample
  namespace: armada
spec:
  image:
    repository: gresearch/armada-lookout-ingester-v2
    tag: 2a9b6e8cef1c0a1851ec34d0808a3ecfdcc9c926
  applicationConfig:
    postgres:
      maxOpenConns: 100
      maxIdleConns: 25
      connMaxLifetime: 30m
      connection:
        host: postgres.default.svc.cluster.local
        port: 5432
        user: postgres
        password: psw
        dbname: postgres
        sslmode: disable
    metrics:
      port: 9000
    pulsar:
      enabled: true
      URL: "pulsar://pulsar-broker:6650"
      jobsetEventsTopic: "events"
      receiveTimeout: 5s
      backoffTime: 1s
    paralellism: 1
    subscriptionName: "lookout-ingester-v2"
    batchSize: 10000
    batchDuration: 500ms
    minJobSpecCompressionSize: 1024
    userAnnotationPrefix: "armadaproject.io/"
