apiVersion: install.armadaproject.io/v1alpha1
kind: Eventingester
metadata:
  labels:
    app.kubernetes.io/name: eventingester
    app.kubernetes.io/instance: eventingester-sample
    app.kubernetes.io/part-of: armada-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: armada-operator
  name: eventingester-sample
spec:
  # TODO(user): Add fields here
