redis:
  addrs: {{ .Values.redis.addrs | default .Values.global.redis.addrs }}
  password: {{ .Values.redis.password | default .Values.global.redis.password }}
  db: {{ .Values.redis.db | default .Values.global.redis.db }}
  poolSize: {{ .Values.redis.poolSize | default .Values.global.redis.poolSize }}
pulsar:
  URL: {{ .Values.pulsar.url | default .Values.global.pulsar.url }}
  jobsetEventsTopic: "events"
  receiveTimeout: 5s
  backoffTime: 1s
subscriptionName: "scheduler"
minMessageCompressionSize: 1024
batchSize: 1048576  #1MB
batchDuration: 500ms
batchMessages: 10000
eventRetentionPolicy:
  expiryEnabled: true
  retentionDuration: 336h
